<!DOCTYPE html>
<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<!-- set the encoding of your site -->
	<meta charset="utf-8">
	<!-- set the viewport width and initial-scale on mobile devices -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Opimas: We begin with an understanding</title>
	<link rel="shortcut icon" href="http://www.opimas.com/favicon.ico" type="image/x-icon">
	<!-- include the site stylesheet -->
	<%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
		<meta name="description" content="The Opimas' research offering provides clients a continuous advisory service covering topics of critical importance to financial institutions, topics carefully selected to help our clients navigate a constantly changing industry landscape. We are a team of financial industry veterans that have worked at leading financial institutions, giving us a practical understanding of the transforming business model and the challenges clients face today. ">
	<meta name="keywords" content="Research, Consulting, Finance, Strategic advisory, Finance, Equities, Securities servicing, Fixed incomes, Asset management, Risk management &amp; Public policy">
	<meta name="classification" content="Research, Consulting, Finance, Strategic advisory, Finance, Equities, Securities servicing, Fixed incomes, Asset management, Risk management &amp; Public policy">
	<meta name="category" content="Research, Consulting, Finance, Strategic advisory, Finance, Equities, Securities servicing, Fixed incomes, Asset management, Risk management &amp; Public policy">
	
	
	<meta name="author" content="Octavio Marenzi, Axel Pierron">
	<meta name="copyright" content="Octavio Marenzi, Axel Pierron, Opimas">
	<meta name="publisher" content="Octavio Marenzi, Axel Pierron, Opimas">

	<meta name="language" content="en">
	<meta name="robots" content="index, follow">
	
	<link rel="canonical" href="http://www.opimas.com/">
	<meta property="og:locale" content="en_US">
	<meta property="og:type" content="presentation">
	<meta property="og:title" content="Opimas: research and consulting reinvented">
	<meta property="og:description" content="The Opimas' research offering provides clients a continuous advisory service covering topics of critical importance to financial institutions, topics carefully selected to help our clients navigate a constantly changing industry landscape. We are a team of financial industry veterans that have worked at leading financial institutions, giving us a practical understanding of the transforming business model and the challenges clients face today. ">
	<meta property="og:url" content="http://www.opimas.com">
	<meta property="og:site_name" content="Opimas: We begin with an understanding">
	<meta property="article:tag" content="Research, Consulting, Finance, Strategic advisory, Finance, Equities, Securities servicing, Fixed incomes, Asset management, Risk management &amp; Public policy">
	<meta property="og:image" content="http://www.opimas.com/images/logo.png">

	
	
	
	

		
		
<style type="text/css">.js-tab-hidden{position:absolute !important;left:-9999px !important;top:-9999px !important;display:block !important}</style><style type="text/css">.js-slide-hidden{position:absolute !important;left:-9999px !important;top:-9999px !important;display:block !important}</style></head>
<body>
<!-- main container of all the page elements -->
<div id="wrapper">
	<!-- header of the page -->
	<header id="header">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<!-- header-holder -->
					<div class="header-holder">
						<!-- logo of the page -->
						<div class="logo">
							<a href="#">
								<span data-picture="" data-alt="Opimas: We begin with an understanding">
									<span data-src="logo.png"><%= link_to image_tag("logo.png", :alt => "Opimas: We begin with an understanding") %></span>
									<span data-src="logo-2x.png" data-width="159" data-height="44" data-media="(-webkit-min-device-pixel-ratio:1.5), (min-resolution:1.5dppx)"></span>
									<span data-src="logosmall-2x.png" data-width="159" data-height="44" data-media="(max-width:767px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:767px) and (min-resolution:144dpi)"></span>
									<!--[if (lt IE 9) & (!IEMobile)]>
										<span data-src="logo.png"></span>
									<![endif]-->
									<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
									<noscript><%= link_to image_tag("logo.png", :width => "159", :height => "44", :alt => "Opimas: research and consulting reinvented") %></noscript>
								</span>
							</a>
						</div>
						<!-- main navbar -->
						<nav class="navbar navbar-default pull-right">
							<!-- Brand and toggle get grouped for better mobile display -->
							<div class="navbar-header">
								<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
								</button>
							</div>
							<!-- Collect the nav links, forms, and other content for toggling -->
							<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
								<ul class="nav navbar-nav">
									<li><a href="#approach" class="next">Approach</a></li>
									<li><a href="#services" class="next">Services</a></li>
									<li><a class="next" href="#markets">Markets</a></li>
									<li><a class="next" href="#innovative">Innovative offer</a></li>
									<li class="last"><a class="next" href="#who">Who we are</a></li>
									<li><a href="#footer" class="next">Contact</a></li>
									<li><%= link_to "Log in", login_path %></li>
								</ul>
							</div>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</header>
	<!-- banner -->
	<section class="banner">
		<!-- img-holder -->
		<div class="img-holder">
			<span data-picture="" data-alt="Opimas: research and consulting reinvented. Octavio Marenzi, Axel Pierron">
				<span data-src="banner-img.jpg"><%= link_to image_tag("banner-img.jpg", :alt => "Opimas: research and consulting reinvented. Octavio Marenzi, Axel Pierron") %></span>
				<span data-src="banner-img-2x.jpg" data-media="(-webkit-min-device-pixel-ratio:1.5), (min-resolution:1.5dppx)"></span>
				<span data-src="banner-imgsmall-2x.jpg" data-media="(max-width:767px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:767px) and (min-resolution:144dpi)"></span>
				<!--[if (lt IE 9) & (!IEMobile)]>
					<span data-src="banner-img.jpg"></span>
				<![endif]-->
				<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
				<noscript><%= link_to image_tag("banner-img.jpg", :width => "1407", :height => "563", :alt => "Opimas: research and consulting reinvented") %></noscript>
			</span>
		</div>
		<!-- holder -->
		<div class="holder">
			<!-- caption -->
			<div class="caption">
				<h1>We begin with<br> <span>an understanding</span></h1>
				<p>Opimas pursues an entirely open approach to knowledge sharing, 
providing our clients direct access to our entire pool of intellectual 
capital.</p>
			</div>
		</div>
		<!-- btn-default -->
		<a class="btn-default next" href="#footer">contact us</a>
	</section>
	<!-- main of the page -->
	<main id="main" role="main">
		<div class="container">
			<!-- three-col -->
			<div class="row three-col" id="approach">
				<div class="col-sm-4 col-xs-12">
					<!-- col -->
					<div class="col">
						<!-- heading-box -->
						<div class="heading-box">
							<h1>Our approach</h1>
						</div>
					</div>
				</div>
				<div class="col-sm-4 col-xs-12">
					<!-- col -->
					<div class="col">
						<div class="text-box">
							<p>Opimas is a management consultancy focused on capital markets,
 serving leading financial institutions around the world. Our 
specialisation allows us to bring our expertise to bear from the very 
beginning of projects, to provide insight and craft strategies for our 
clients more quickly, without sacrificing quality. In addition, Opimas 
continuously invests considerable resources, representing about one 
third of our revenues, into market research. This investment allows us 
to create a pool of intellectual capital on issues of strategic 
importance to our clients.</p>
						</div>
					</div>
				</div>
				<div class="col-sm-4 col-xs-12">
					<!-- col -->
					<div class="col">
						<div class="text-box">
							<p>Uniquely in the consulting industry, Opimas pursues an 
entirely open approach to knowledge sharing, providing our clients 
direct access to our entire pool of intellectual capital. This gives our
 clients the latitude to either support their strategic decisions 
independently, while relying on our knowledge base,&nbsp; or to engage 
directly with our consultants on a project basis.</p>
						</div>
					</div>
				</div>
			</div>
			
			<div class="row three-col add-services" id="services">
				<div class="col-sm-4 col-xs-12">
					<!-- col -->
					<div class="col">
						<!-- heading-box -->
						<div class="heading-box">
							<h1>Our services</h1>
						</div>
					</div>
				</div>
				<div class="col-sm-4 col-xs-12">
					<!-- col -->
					<div class="col"></div>
				</div>
				<div class="col-sm-4 col-xs-12">
					<!-- col -->
					<div class="col"></div>
				</div>
			</div>

			<!-- three-col -->
			<div class="row three-col post cache">
				<div class="col-sm-4 col-xs-12">
					<!-- col -->
					<div class="col"></div>
				</div>
				<div class="col-sm-4 col-xs-12 ">
					<!-- col -->
					<div class="col">
						<div class="text-box add">	
							<h2>Intellectual Capital</h2>
														<p>
							Opening the door to our library of rich content (analyses, data, 
opinion pieces), available through an annual subscription. Opimas 
reports can be segmented according to our client’s objective: gaining 
deep understanding or accessing synthesized information. 
														</p>
						</div>
					</div>
				</div>
				<div class="col-sm-4 col-xs-12">
					<!-- col -->
					<div class="col">
						<!-- img-box -->
						<div class="img-box">
							<span data-picture="" data-alt="Research">
								<span data-src="images/img01.jpg"><%= link_to image_tag("img01.jpg", :alt => "Research") %></span>
								<span data-src="images/img01-2x.jpg" data-width="313" data-height="313" data-media="(-webkit-min-device-pixel-ratio:1.5), (min-resolution:1.5dppx)"></span>
								<span data-src="images/img01small-2x.jpg" data-width="313" data-height="313" data-media="(max-width:767px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:767px) and (min-resolution:144dpi)"></span>
								<!--[if (lt IE 9) & (!IEMobile)]>
									<span data-src="images/img01.jpg"></span>
								<![endif]-->
								<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
								<noscript><%= link_to image_tag("img01.jpg", :width => "313", :height => "313", :alt => "Intellectual Capital") %></noscript>
							</span>
						</div>
					</div>
				</div>
			</div>
			<!-- three-col -->
			<div class="row three-col post cache">
				<div class="col-sm-4 col-xs-12">
					<!-- col -->
					<div class="col">
						<div class="text-box add">
							<h2>Consulting</h2>
														<p>
							Opimas engages in strategy consulting projects with our clients, 
solving the most critical challenges facing them today. By leveraging 
deep-rooted market knowledge acquired through our ongoing research 
activity, the Opimas team has a solid understanding of the key issues at
 hand.
							</p>
						</div>
					</div>
				</div>
				<div class="col-sm-4 col-xs-12">
					<!-- col -->
					<div class="col">
						<!-- img-box -->
						<div class="img-box">
							<span data-picture="" data-alt="Consulting">
								<span data-src="images/img02.jpg"><%= link_to image_tag("img02.jpg", :alt => "Consulting") %></span>
								<span data-src="images/img02-2x.jpg" data-width="313" data-height="313" data-media="(-webkit-min-device-pixel-ratio:1.5), (min-resolution:1.5dppx)"></span>
								<span data-src="images/img02small-2x.jpg" data-width="313" data-height="313" data-media="(max-width:767px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:767px) and (min-resolution:144dpi)"></span>
								<!--[if (lt IE 9) & (!IEMobile)]>
									<span data-src="images/img02.jpg"></span>
								<![endif]-->
								<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
								<noscript><%= link_to image_tag("img02.jpg", :width => "313", :height => "313", :alt => "Consulting") %></noscript>
							</span>
						</div>
					</div>
				</div>
				<div class="col-sm-4 col-xs-12">
					<!-- col -->
					<div class="col">
						
					</div>
				</div>
			</div>
			<!-- three-col -->
			<div class="row three-col post cache">
				<div class="col-sm-4 col-xs-12">
					<!-- col -->
					<div class="col">
						
					</div>
				</div>
				<div class="col-sm-4 col-xs-12">
					<!-- col -->
					<div class="col">
						<div class="text-box add">
							<h2>Strategic advisory</h2>
														<p>
						Opimas subject matter experts are available to participate in 
brainstorming sessions, putting client strategy &nbsp;in perspective 
against overall market trends and the competitive landscape.
							</p>
						</div>
					</div>
				</div>
				<div class="col-sm-4 col-xs-12">
					<!-- col -->
					<div class="col">
						<!-- img-box -->
						<div class="img-box">
							<span data-picture="" data-alt="Strategic advisory">
								<span data-src="images/img03.jpg"><%= link_to image_tag("img03.jpg", :alt => "Strategic advisory") %></span>
								<span data-src="images/img03-2x.jpg" data-width="313" data-height="313" data-media="(-webkit-min-device-pixel-ratio:1.5), (min-resolution:1.5dppx)"></span>
								<span data-src="images/img03small-2x.jpg" data-width="313" data-height="313" data-media="(max-width:767px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:767px) and (min-resolution:144dpi)"></span>
								<!--[if (lt IE 9) & (!IEMobile)]>
									<span data-src="images/img03.jpg"></span>
								<![endif]-->
								<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
								<noscript><%= link_to image_tag("img03.jpg", :width => "313", :height => "313", :alt => "Strategic advisory") %></noscript>
							</span>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<!-- market-section -->
					<section class="market-section post cache" id="markets">
						<h1>Our markets</h1>
						<!-- tabs-block -->
						<div class="tabs-block">
							<!-- tabset -->
							<ul class="tabset">
								<li class="active"><a href="#tab1"><i class="icon-equities-img"></i>Equities</a></li>
								<li><a href="#tab2"><i class="icon-securities-img"></i>Securities Servicing</a></li>
								<li><a href="#tab3"><i class="icon-income-img"></i>FICC</a></li>
								<li><a href="#tab4"><i class="icon-asset-img"></i>Asset Management</a></li>
								<li><a href="#tab5"><i class="icon-risk-img"></i>Risk Management &amp; Public policy</a></li>
							</ul>
							<!-- tabs-content -->
							<div class="tab-content">
								<div class="" style="display: block;" id="tab1">
									<!-- open-close -->
									<div class="open-close">
										<!-- opener -->
										<a class="opener" href="#"><i class="icon-equities-img"></i>Equities</a>
										<!-- tab-box -->
										<div class="tab-box js-slide-hidden">
											<!-- heading-area -->
											<div class="heading-area">
												<h2>Equities</h2>
											</div>
											<!-- text-area -->
											<div class="text-area">
																								<p>
												The Opimas <strong>Equities service</strong> covers the cash
 and derivatives markets. We address regulatory and structural changes 
in the market, the impact of technology and electronic trading 
platforms, new trading strategies - including high-frequency trading 
strategies - and changes in post-trade processing. We analyze market 
liquidity on a pan-European and regional basis. 
																								</p>
											</div>
											<a class="close opener" href="#">Close</a>
										</div>
									</div>
								</div>
								<div class="js-tab-hidden" style="display: none; width: 4640px;" id="tab2">
									<!-- open-close -->
									<div class="open-close">
										<!-- opener -->
										<a class="opener" href="#"><i class="icon-securities-img"></i>Securities<br> Servicing</a>
										<!-- tab-box -->
										<div class="tab-box js-slide-hidden">
											<!-- heading-area -->
											<div class="heading-area">
												<h2>Securities Servicing</h2>
											</div>
											<!-- text-area -->
											<div class="text-area">
																								<p>
												The Opimas <strong>Securities Servicing service</strong> 
covers the overall eco-system of securities trading. Numerous factors 
ranging from regulations to technology are pushing toward a major 
restructuring of the European financial industry. Our research provides a
 detailed analysis of the various changes impacting the infrastructure 
of the securities market, from exchanges and CCP’s to custodians and 
CSD’s. Our service delivers an unbiased view of the opportunities and 
threats driven by these evolutions to the various types of participants 
in the securities processing eco-system.
												</p>
											</div>
											<a class="close opener" href="#">Close</a>
										</div>
									</div>
								</div>
								<div class="js-tab-hidden" style="display: none; width: 3285px;" id="tab3">
									<!-- open-close -->
									<div class="open-close">
										<!-- opener -->
										<a class="opener" href="#"><i class="icon-income-img"></i>Fixed<br> incomes</a>
										<!-- tab-box -->
										<div class="tab-box js-slide-hidden">
											<!-- heading-area -->
											<div class="heading-area">
												<h2>FICC</h2>
											</div>
											<!-- tab-box -->
											<div class="text-area">
																								<p>
												The Opimas <strong>Fixed Income, Currencies &amp; Commodities (FICC) service</strong>
  covers cash and derivatives markets for bonds, rates, FX, energy, as 
well as soft and hard commodities. We cover regulatory and structural 
changes in the market, the impact of technology and electronic trading 
platforms, the evolution towards standardized products, as well as the 
emergence of new trading strategies and investors.

																								</p>
											</div>
											<a class="close opener" href="#">Close</a>
										</div>
									</div>
								</div>
								<div class="js-tab-hidden" style="display: none; width: 5792px;" id="tab4">
									<!-- open-close -->
									<div class="open-close">
										<!-- opener -->
										<a class="opener" href="#"><i class="icon-asset-img"></i>Asset<br> Management</a>
										<!-- tab-box -->
										<div class="tab-box js-slide-hidden">
											<!-- heading-area -->
											<div class="heading-area">
												<h2>Asset Management</h2>
											</div>
											<!-- tab-box -->
											<div class="text-area">
																								<p>
												The Opimas <strong>Asset Management service</strong> covers a
 range of topics on both the buy-side and the sell-side, in the context 
of an increasingly competitive market environment where emerging 
technologies and digital media greatly impact the investment decision 
making process. We address specific topics such as the evolution of the 
buy-side to liquidator provider, the impact of changing regulations, 
like AIFMD, shadow banking regulations, MiFID II, transparency 
requirements, the issue of asset allocation in view of the vacuum left 
by traditional sell-side institutions, asset allocation in an ultra-low 
interest rate environment, evaluations of prime brokerage services, and 
the changing relationship with custodian banks.
																								</p>
											</div>
											<a class="close opener" href="#">Close</a>
										</div>
									</div>
								</div>
								<div class="js-tab-hidden" style="display: none; width: 4012px;" id="tab5">
									<!-- open-close -->
									<div class="open-close">
										<!-- opener -->
										<a class="opener" href="#"><i class="icon-risk-img"></i>Risk management<br> &amp; Public policy</a>
										<!-- tab-box -->
										<div class="tab-box js-slide-hidden">
											<!-- heading-area -->
											<div class="heading-area">
												<h2>Risk Management &amp; Public Policy</h2>
											</div>
											<!-- tab-box -->
											<div class="text-area">
																								<p>
												The Opimas <strong>Risk Management and Public Policy service</strong>
 covers enterprise risk management, governance and international public 
policy. We cover all categories of risk ranging from qualitative and 
quantitative risk strategies, stress testing and capital management, to 
risk analytics, risk-based performance, and the impact of regulation, 
risk culture and risk governance. We analyze the effect of global and 
regional regulations on financial stability and the competitiveness of 
the financial sector.
																								</p>
											</div>
											<a class="close opener" href="#">Close</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>
			<!-- work-section -->
			<div class="row">
				<div class="col-xs-12">
					<div class="work-section" id="innovative">
						<h1>An innovative way to share our content</h1>
						<div class="row">
							<div class="col-sm-6 col-xs-12">
								<!-- article -->
								<article class="article">
									<!-- img-box -->
									<div class="img-box">
										<span data-picture="" data-alt="Our data is your data">
											<span data-src="images/icon-img01.png"><%= link_to image_tag("icon-img01.png", :alt => "Our data is your data") %></span>
											<span data-src="images/icon-img01-2x.png" data-width="184" data-height="133" data-media="(-webkit-min-device-pixel-ratio:1.5), (min-resolution:1.5dppx)"></span>
											<span data-src="images/icon-img01small-2x.png" data-width="184" data-height="133" data-media="(max-width:767px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:767px) and (min-resolution:144dpi)"></span>
											<!--[if (lt IE 9) & (!IEMobile)]>
												<span data-src="images/icon-img01.png"></span>
											<![endif]-->
											<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
											<noscript><%= link_to image_tag("icon-img01.png", :width => "184", :height => "133", :alt => "Our data is your data") %></noscript>
										</span>
									</div>
									<h2>Our data is your data</h2>
									<p>Direct, unlimited access to our statistics, forecasts and 
models, which are all continuously updated. On the Opimas platform, our 
clients will find both extensive data created by Opimas and targeted, 
relevant data compiled by our expert analysts through research.</p>
								</article>
							</div>
							<div class="col-sm-6 col-xs-12">
								<!-- article -->
								<article class="article">
									<!-- img-box -->
									<div class="img-box">
										<span data-picture="" data-alt="Online, collaborative, interactive">
											<span data-src="images/icon-img02.png"><%= link_to image_tag("icon-img02.png", :alt => "Online, collaborative, interactive") %></span>
											<span data-src="images/icon-img02-2x.png" data-width="154" data-height="123" data-media="(-webkit-min-device-pixel-ratio:1.5), (min-resolution:1.5dppx)"></span>
											<span data-src="images/icon-img02small-2x.png" data-width="154" data-height="123" data-media="(max-width:767px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:767px) and (min-resolution:144dpi)"></span>
											<!--[if (lt IE 9) & (!IEMobile)]>
												<span data-src="images/icon-img02.png"></span>
											<![endif]-->
											<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
											<noscript><%= link_to image_tag("icon-img02.png", :width => "154", :height => "123", :alt => "Online, collaborative, interactive") %></noscript>
										</span>
									</div>
									<h2>We are online, collaborative and interactive</h2>
									<p>Opimas publishes interactive reports online, allowing 
clients to ask questions directly to our analysts, save specific 
chapters and share content with colleagues.</p>
								</article>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6 col-xs-12">
								<!-- articale -->
								<article class="article">
									<!-- img-box -->
									<div class="img-box">
										<span data-picture="" data-alt="Our content fits your pace">
											<span data-src="images/icon-img03.png"><%= link_to image_tag("icon-img03.png", :alt => "Our content fits your pace") %></span>
											<span data-src="images/icon-img03-2x.png" data-width="140" data-height="141" data-media="(-webkit-min-device-pixel-ratio:1.5), (min-resolution:1.5dppx)"></span>
											<span data-src="images/icon-img03small-2x.png" data-width="140" data-height="141" data-media="(max-width:767px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:767px) and (min-resolution:144dpi)"></span>
											<!--[if (lt IE 9) & (!IEMobile)]>
												<span data-src="images/icon-img03.png"></span>
											<![endif]-->
											<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
											<noscript><%= link_to image_tag("icon-img03.png", :width => "140", :height => "141", :alt => "Our content fits your pace") %></noscript>
										</span>
									</div>
									<h2>Our content fits<br> your pace</h2>
									<p> At Opimas, we believe one size does not fit all.&nbsp;We’ve
 created a tailored reporting method that comes in three different 
sizes: a short version, which gives you the essentials you need to 
understand;&nbsp;a 15 minutes version giving you a more analytical 
overview; and &nbsp;a full-version, allowing you to master a topic 
inside and out.</p>
								</article>
							</div>
							<div class="col-sm-6 col-xs-12">
								<!-- article -->
								<article class="article">
									<!-- img-box -->
									<div class="img-box">
										<span data-picture="" data-alt="A video is worth 30 pages">
											<span data-src="images/icon-img04.png"><%= link_to image_tag("icon-img04.png", :alt => "A video is worth 30 pages") %></span>
											<span data-src="images/icon-img04-2x.png" data-width="145" data-height="144" data-media="(-webkit-min-device-pixel-ratio:1.5), (min-resolution:1.5dppx)"></span>
											<span data-src="images/icon-img04small-2x.png" data-width="145" data-height="144" data-media="(max-width:767px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:767px) and (min-resolution:144dpi)"></span>
											<!--[if (lt IE 9) & (!IEMobile)]>
												<span data-src="images/icon-img04.png"></span>
											<![endif]-->
											<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
											<noscript><%= link_to image_tag("icon-img04.png", :width => "145", :height => "144", :alt => "A video is worth 30 pages") %></noscript>
										</span>
									</div>
									<h2>A video is worth <br>30 pages</h2>
									<p>
										Reading is not the only way to consume insights. Opimas delivers its analysis through video and podcast.
										</p>
								</article>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6 col-xs-12">
								<!-- article -->
								<article class="article">
									<!-- img-box -->
									<div class="img-box">
										<span data-picture="" data-alt="Save, collect and collaborate">
											<span data-src="images/icon-img05.png"><%= link_to image_tag("icon-img05.png", :alt => "Save, collect and collaborate") %></span>
											<span data-src="images/icon-img05-2x.png" data-width="153" data-height="166" data-media="(-webkit-min-device-pixel-ratio:1.5), (min-resolution:1.5dppx)"></span>
											<span data-src="images/icon-img05small-2x.png" data-width="153" data-height="166" data-media="(max-width:767px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:767px) and (min-resolution:144dpi)"></span>
											<!--[if (lt IE 9) & (!IEMobile)]>
												<span data-src="images/icon-img05.png"></span>
											<![endif]-->
											<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
											<noscript><%= link_to image_tag("icon-img05.png", :width => "153", :height => "166", :alt => "Save, collect and collaborate") %></noscript>
										</span>
									</div>
									<h2 class="post cache">Save, collect and collaborate</h2>
									<p>Our clients have the ability to personalize our platform to 
their needs. Saving charts and data from both entire reports or just 
selected passages, available anytime in your Opimas personal vault.
									</p>
								</article>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
	<!-- section -->
	<section class="section post cache" id="who">
		<div class="section-holder">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<h1>Who we are</h1>
						<!-- text-box -->				
						<div class="text-box">
							<p>We are a team of financial industry veterans and strategists 
that have worked at leading financial institutions, giving us a 
practical understanding of the transforming business model and the 
challenges clients face today. </p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- twocolumns -->
	<section class="twocolumns">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-xs-12">
					<!-- info-area -->
					<div class="info-area">
						<!-- head -->
						<header class="head">
							<!-- img-box -->
							<div class="img-box">
								<span data-picture="" data-alt="Octavio Marenzi">
									<span data-src="images/img04.png"><%= link_to image_tag("img04.png", :alt => "Octavio Marenzi") %></span>
									<span data-src="images/img04-2x.png" data-width="126" data-height="126" data-media="(-webkit-min-device-pixel-ratio:1.5), (min-resolution:1.5dppx)"></span>
									<span data-src="images/img04small-2x.png" data-width="126" data-height="126" data-media="(max-width:767px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:767px) and (min-resolution:144dpi)"></span>
									<!--[if (lt IE 9) & (!IEMobile)]>
										<span data-src="images/img04.png"></span>
									<![endif]-->
									<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
									<noscript><%= link_to image_tag("img04.png", :width => "126", :height => "126", :alt => "Octavio Marenzi") %></noscript>
								</span>
							</div>
							<!-- mail -->
							<a class="mail" href="mailto:om@opimas.com">om@opimas.com</a>
						</header>
						<!-- text-box -->
						<div class="text-box">
							<p><strong>Octavio Marenzi</strong> is the co-founder and 
managing director of Opimas. At Opimas, he directs the firm’s research 
in the areas of equities trading and asset management.</p>
						</div>
						<p>Octavio has performed a variety of consulting engagements 
including the: Creation of an international expansion strategy for a 
major US derivatives exchange;</p>
						<p>Analysis of the impact of two major Austrian banks, including identification of cost and revenue synergies;</p>
						<p>Delineation of the strategy for the merger of the back-office 
and technology operations of two major Wall Street brokerage firms ;</p>
						<p>Review of non-Japan Asia equities markets for a major Japanese 
bank. This involved market sizing, competitive landscape, and 
recommendations for acquisitions.</p>
						<p>Prior to joining Opimas, Octavio was the CEO and founder of 
Celent, which was acquired by Oliver Wyman. At Oliver Wyman, he served 
on the firm’s management committee, overseeing 2000 consultants 
globally. Previously, he worked at UBS in their asset management 
division in Zurich, as well as at Booz, Allen &amp; Hamilton’s financial
 service group in New York. He received his MSc and BSc degrees in 
mechancial engineering from MIT.</p>
					</div>
				</div>
				<div class="col-sm-6 col-xs-12">
					<!-- info-area -->
					<div class="info-area">
						<!-- head -->
						<header class="head">
							<!-- img-box -->
							<div class="img-box">
								<span data-picture="" data-alt="Axel Pierron">
									<span data-src="images/img05.png"><%= link_to image_tag("img05.png", :alt => "Axel Pierron") %></span>
									<span data-src="images/img05-2x.png" data-width="126" data-height="126" data-media="(-webkit-min-device-pixel-ratio:1.5), (min-resolution:1.5dppx)"></span>
									<span data-src="images/img05small-2x.png" data-width="126" data-height="126" data-media="(max-width:767px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:767px) and (min-resolution:144dpi)"></span>
									<!--[if (lt IE 9) & (!IEMobile)]>
										<span data-src="images/img05.png"></span>
									<![endif]-->
									<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
									<noscript><%= link_to image_tag("img05.png", :width => "126", :height => "126", :alt => "Axel Pierron") %></noscript>
								</span>
							</div>
							<!-- mail -->
							<a class="mail" href="mailto:ap@opimas.com">ap@opimas.com</a>
						</header>
						<!-- text-box -->
						<div class="text-box">
							<p><strong>Axel Pierron</strong> is the co-founder and managing 
director of Opimas. At Opimas, he directs the firm’s research in the 
areas of market structure and FICC (Fixed Income Currency and 
Commodities).</p>
						</div>
						<p>Axel has performed a variety of consulting engagements 
including the: Assessment of the impact of the post-trade infrastructure
 regulatory evolution in Europe for a leading securities services 
provider ;</p>
						<p>Due diligence on a global securities servicing and IT provider for a leading European private equity firm ;</p>
						<p>Evaluation of the options available (business and trading 
model) for a major European exchanges to develop a fixed income trading 
platform Creation of a multi- market entry strategy for a global 
derivatives exchange ;</p>
						<p>Prior to joining Opimas, Axel was the founder of Bedade a 
network sourced data platform. Previously, he was the manager in charge 
of the global capital market practice at Celent, an Oliver Wyman 
company.</p>
						<p>He received his Master from SKEMA business school.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- footer of the page -->
	<footer id="footer" class="post cache">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">				
					<!-- form -->
					<form action="mail.php" method="POST" class="form">
						<fieldset>
							<h1>Get in touch</h1>
							<input class="form-control" name="umail" placeholder="Email" type="email">
							<input class="form-control" name="uname" placeholder="Name" type="text">
							<input class="form-control" name="ucompany" placeholder="Company and position" type="text">
							<input class="btn-default" value="SEND" type="submit">
						</fieldset>
					</form>
				</div>
			</div>
		</div>
	</footer>
</div>


<!-- include jQuery library -->
<script src="Opimas:%20We%20begin%20with%20an%20understanding_files/analytics.js" async=""></script><script type="text/javascript" src="Opimas:%20We%20begin%20with%20an%20understanding_files/jquery_002.js"></script>
<script type="text/javascript">window.jQuery || document.write('<script src="js/jquery-1.11.2.min.js"><\/script>')</script>
<script src="Opimas:%20We%20begin%20with%20an%20understanding_files/bootstrap.js"></script>
<!-- include custom JavaScript -->
<script type="text/javascript" src="Opimas:%20We%20begin%20with%20an%20understanding_files/jquery.js"></script>

<!-- include CSS Animate and Viewportchecker library -->
<link rel="stylesheet" type="text/css" href="Opimas:%20We%20begin%20with%20an%20understanding_files/animate.css">
<script src="Opimas:%20We%20begin%20with%20an%20understanding_files/viewportchecker.js"></script>

<!-- initialisation du script -->
<script type="text/javascript">
jQuery(document).ready(function() {
	jQuery('.post').addClass("cache").viewportChecker({
	    classToAdd: 'montre animated fadeIn', // Class to add to the elements when they are visible
	    offset: 100    
	   });   
});            
</script>

<!-- Google Analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-202001-67', 'auto');
  ga('send', 'pageview');

</script>


</body></html>
