<% provide(:title, 'Listing Employees') %>
<h1>Listing Employees</h1>
<div class="row">
  <% @employees.each do |employee| %>
  <ul>
    <% if employee.manager_id.blank? %>
      <li><%= employee.name %>  <%= link_to 'Show', employee, class: "btn btn-info" %>  <%= link_to "Edit", edit_employee_path(employee), :class => "btn btn-primary" %>  <%= link_to "Delete", employee_path(employee), :method => 'delete', :class => "btn btn-danger", data: { confirm: 'Are you sure?' } %>
      <%= render partial: 'subordinate', locals: {subordinates: employee.subordinates} if employee.subordinates.present? %>
      </li>
        <% end %>
  </ul>
  <% end %>
  <%= link_to 'New Employee', new_employee_path %>
</div>
