<% provide(:title, 'New Employee') %>
<h1>New Employee</h1>
<% @managers = Employee.includes(:subordinates) %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= simple_form_for @employee do |f| %>
      <%= f.input :name %>

      <%= f.association :user %>

      <p> Please select a manager for this employee </p>
      <%= f.label :manager_id %>
      <%= f.select(:manager_id) do %>
        <option value=""></option>
        <% @managers.each do |manager| %>
          <% if manager.manager_id.blank? %>
            <option value="<%= manager.id %>"><%= manager.name %></option>
            <%= render partial: 'newsubordinate', locals: {subordinates: manager.subordinates} if manager.subordinates.present? %>
          <% end %>
        <% end %>
      <% end %>

      <%= f.input :joining_date, :as => :date_picker %>

      <%= f.association :roles %>

      <%= f.association :categories %>

      <%= f.association :reports %>

      <div class="form-actions">
        <%= f.submit "Create", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
<%= link_to 'Back', employees_path %>
