<% provide(:title, 'New Report Subscriber') %>
<div class="page_title">
  <h1>New Report Subscriber</h1>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= simple_form_for @report_subscriber do |f| %>
      <%= f.association :company %>

      <%= f.input :contract_start_date, :as => :date_picker %>

      <%= f.input :contract_end_date, :as => :date_picker %>

      <%= f.input :contract_currency, collection: %w[$ €] %>

      <%= f.input :contract_value %>

      <%= f.association :employees, label: 'Please Select an Account Manager', collection: @salesguys %>

      <%= f.association :reports %>

      <%= f.submit "Create", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<%= link_to 'Back', report_subscribers_path %>
