<% provide(:title, 'Listing Category Subscribers') %>
<div class="page_title">
  <h1>Listing Category Subscribers</h1>
</div>
<div class="row">
  <strong>Id  Company  Contract Start Date  Contract End Date Value</strong>
  <% @category_subscribers.each do |category_subscriber| %>
  <ul>
    <li><%= category_subscriber.id %>  <%= category_subscriber.company.name %>  <%= category_subscriber.contract_start_date %>  <%= category_subscriber.contract_end_date %>  <%= category_subscriber.contract_currency %><%= category_subscriber.contract_value %>  <%= link_to 'Show', category_subscriber, class: "btn btn-info" %>  <%= link_to 'Edit', edit_category_subscriber_path(category_subscriber), class: "btn btn-primary" %>  <%= link_to 'Destroy', category_subscriber, method: :delete, :class => "btn btn-danger", data: { confirm: 'Are you sure?' } %>
    </li>
  </ul>
  <% end %>
</div>
<br>
<%= link_to 'New Category subscriber', new_category_subscriber_path %>
