<%= simple_form_for(@report_subscription) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :report_id %>
    <%= f.input :report_subscriber_id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
