<% provide(:title, 'Editing Category') %>
<h1>Editing Category</h1>
<% @mastercats = Category.includes(:subcategories) %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@category) do |f| %>
      <%= render 'shared/categerror_messages' %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :parent_id %>
      <%= f.select(:parent_id) do %>
        <% unless @category.parent.nil? %> 
          <option value="<%= @category.parent.id %>"><%= @category.parent.name %></option>
        <% end %>
          <option value=""></option>
        <% @mastercats.each do |master| %>
          <% if master.parent_id.blank? %>
            <option value="<%= master.id %>"><%= master.name %></option>
            <%= render partial: 'editsubcategory', locals: {subcategories: master.subcategories} if master.subcategories.present? %>
          <% end %>
        <% end %>
      <% end %>
      <div class="form-actions">
        <%= f.submit "Save Changes", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
<%= link_to 'Show', @category %> |
<%= link_to 'Back', categories_path %>
