<% provide(:title, 'Listing Categories') %>
<div class="page_title">
  <h1>Listing Categories</h1>
</div>
<div class="row">
  <% @categories.each do |category| %>
  <ul>
    <% if category.parent_id.blank? %>
      <li><%= category.name %>  <%= link_to 'Show', category, class: "btn btn-info" %>  <%= link_to "Edit", edit_category_path(category), :class => "btn btn-primary" %>  <%= link_to "Delete", category_path(category), :method => 'delete', :class => "btn btn-danger", data: { confirm: 'Are you sure?' } %>
      <%= render partial: 'subcategory', locals: {subcategories: category.subcategories} if category.subcategories.present? %>
      </li>
        <% end %>
  </ul>
  <% end %>
  <%= link_to 'New Category', new_category_path %>
</div>
