<% provide(:title, 'New Report') %>
<h1>New Report</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= simple_form_for @report, url: reports_path do |f| %>
      <%= f.error_notification %>

      <%= f.input :title %>

      <%= f.input :summary %>

      <%= f.input :publication_date, :as => :date_picker %>

      <%= f.input :main_report, as: :file %>

      <%= f.input :press_release, as: :file %>

      <%= f.input :charts, as: :file %>

      <%= f.input :vid, as: :file %>

      <%= f.association :employees, label: "Author(s)", hint: "Press Ctrl for multiple selections" %>

      <%= f.association :categories, hint: "Press Ctrl for multiple selections" %>

      <%= f.submit "Create", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
<%= link_to 'Back', reports_path %>
