<% provide(:title, 'Report Details') %>
<h1>Report Details</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <p>
      <strong>Title:</strong>
      <%= @report.title %>
    </p>

    <p>
      <strong>Summary:</strong>
      <%= @report.summary %>
    </p>

    <p>
      <strong>Publication date:</strong>
      <%= @report.publication_date %>
    </p>

    <p>
      <strong>Press release</strong>
      <br>
      <iframe src=<%=@report.press_release.url%> width="500" height="375" type='application/pdf'> </iframe>
    </p>

    <p>
      <strong>Main report</strong>
      <br>
      <iframe src=<%=@report.main_report.url%> width="500" height="375" type='application/pdf'> </iframe>
    </p>

    <p>
      <strong>Charts</strong>
      <br>
      <iframe src=<%=@report.charts.url%> width="500" height="375" type='application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'> </iframe>
    </p>

    <p>
      <strong>Vid:</strong>
      <br>
      <iframe src=<%=@report.vid.url%> width="500" height="375" type='video/mp4'> </iframe>
    </p>

  </div>
</div>

<%= link_to 'Edit', edit_report_path(@report) %> |
<%= link_to 'Back', reports_path %>
